.homepage-section {
    margin-top: 60px;
    .homepage-section-heading {
        font: normal normal normal 22px/27px Helvetica Neue;
        color: #303f60;
        margin-bottom: 40px;
    }
}

.banner-section {
  display: flex;
  overflow: hidden;
  > .banner-title {
    width: 33%;
    display: flex;
    flex-direction: column;
    > h1 {
      display: flex;
      flex-direction: column;
      font: normal normal normal 60px/74px Helvetica Neue;
      color: white;
      margin-bottom: 40px;
      margin-top: 40px;
      > img {
        width: 62%;
      }
    }
    > a {
      width: fit-content;
    }
  }
}

.blog-section {
    margin-top: unset;
    >.cards-wrapper {
        display: flex;
        gap: 30px;
        >div {
            >h3{
                font: normal normal normal 22px/27px Helvetica Neue;
                color: #43afff;
                margin-bottom: 30px;
                width: 50%;
            }
            >p {
                color: #303f60;
                font: normal normal normal 14px/20px Helvetica Neue;
            }
        }
    }
}

.company-section {
    .company-logo-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        column-gap: 50px;
        row-gap: 40px;
        padding-bottom: 67px;
    }
}